@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #374151;
}

/* reusable romantic card */
.romantic-card {
  background: rgba(255, 255, 255, 0.15);
  /* almost transparent */
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);

  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 24px;

  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.12);
}


/* soft romantic button */
.romantic-card {
  background: rgba(255, 255, 255, 0.15);
  /* almost transparent */
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);

  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 24px;

  box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.12);
}

.countdown-btn {
  font-family: 'Nunito', sans-serif;


  background: rgb(216 129 116);
  /* petal */
  border: 1px solid rgba(255, 255, 255, 0.4);
  /* border: 1px solid rgb(197 93 78); */

  color: #4a3a3a;

  border-radius: 9999px;
  padding: 0.75rem 2.5rem;

  box-shadow: 0 6px 18px rgba(242, 161, 179, 0.45);
  transition: all 0.3s ease;
}

.countdown-btn:hover {
  background: rgba(232, 137, 159, 0.9);
  transform: translateY(-1px);
}


.auth-btn {
  font-family: 'Nunito', sans-serif;

  background: rgba(244, 114, 182, 0.75);
  backdrop-filter: blur(6px);

  border: 1px solid rgba(255, 255, 255, 0.35);

  color: white;
  border-radius: 9999px;
  padding: 0.75rem 2rem;

  box-shadow: 0 4px 14px rgba(244, 114, 182, 0.35);

  transition: all 0.3s ease;
}

.auth-btn:hover {
  background: rgba(244, 114, 182, 0.9);
  box-shadow: 0 6px 20px rgba(244, 114, 182, 0.45);
}

.fireworks {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.fireworks span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(216, 129, 116);
  border-radius: 50%;
  animation: explode 2s infinite ease-out;
  opacity: 0;
}

.fireworks span:nth-child(1) {
  left: 20%;
  animation-delay: 0s;
}

.fireworks span:nth-child(2) {
  left: 40%;
  animation-delay: .6s;
}

.fireworks span:nth-child(3) {
  left: 60%;
  animation-delay: 1.2s;
}

.fireworks span:nth-child(4) {
  left: 80%;
  animation-delay: 1.8s;
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}